# Default ignored files
/../../Workshop P./.idea/shelf/
/../../Workshop P./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Workshop P./.idea/httpRequests/
# Datasource local storage ignored files
/../../Workshop P./.idea/dataSources/
/../../Workshop P./.idea/dataSources.local.xml
